body {
  height: 560px;
  width: 600px;

  text-align: center;
  overflow: scroll;

  --my-font-size: 14px;
  --my-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  padding-top: 15px;
  margin: 0;
}

.vwvh {
  width: 100%;
  height: 100%;
}

.link {
  cursor: pointer;
  margin: 5px 0;
  color: #409eff;

  position: fixed;
  right: 20px;
  top: 20px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.1;
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px;
  pointer-events: none;
}

.enabled {
  font-weight: 600;
  font-size: 14px;
  margin-top: 5px;
  padding-bottom: 20px;
}

div.form {
  width: 100%;
  text-align: start;
  padding: 0 10%;

  box-sizing: border-box;
}

label {
  font-size: 14px;
  padding-right: 12px;
}

input:not([type="radio"]):not([type="submit"]),
select {
  -webkit-appearance: none;

  padding: 1px 11px;
  background-color: #fff !important;
  background-image: none !important;
  border-radius: 4px;
  outline: none;
  border: #919191 solid 1px !important;
  cursor: text;

  height: 30px;
  flex-grow: 1;

  box-sizing: border-box;

  font-family: var(--my-font);
  font-size: var(--my-font-size);
}

.font {
  font-family: var(--my-font);
  font-size: var(--my-font-size);
}

.hint {
  color: #919191;
  font-size: 12px;
}

.row {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.max-width-flex {
  flex-grow: 1;
}

.padding-v {
  padding: 5px 0;
}

.margin-v {
  margin: 5px 0;
}

span.dian {
  margin-left: 10px;
}

.margin-l {
  margin-left: 40px;
}

.margin-t {
  margin-top: 20px;
}

.cursor-p {
  cursor: pointer;
}

.save {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  font-weight: 500;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: #409eff;
  border: 1px solid #dcdfe6;
  border-color: #dcdfe6;
  padding: 8px 15px;
  font-size: var(--my-font-size);
  border-radius: 4px;
}

.save:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
  outline: none;
}

.save-toast {
  font-size: 13px;
  padding: 0;
  margin-left: 15px;
}

.success {
  color: #95d475;
}

.failure {
  color: #f56c6c;
}

.disable {
  color: #f56c6c;
  background: #fff;
  margin-left: 15px;
}

.disable:hover {
  color: #f56c6c;
  background: #fff;
  border-color: #ffbdbd;
}
